@import "tailwindcss";

body {
  background-color: #0f0f0f;
}

#banner-animation {
  animation-name: banner-loop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}

@keyframes banner-loop {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 45%;
  }
    100% {
    background-position: 0% 0%;
  }
}
